.DraftEditor-root {
    height    : 100%;
    border    : 1px solid rgb(194, 194, 194);
    overflow-y: scroll;
    color     : rgba(0, 0, 0, 0.75);
    font-size : 1.2em;
    letter-spacing: 1.2px;
    padding: 10px;
    &::-webkit-scrollbar{
        display: none;
      };
}

.public-DraftEditor-content{
    height: 100%;
}
